<a href="https://colab.research.google.com/github/hlopez1024/beginning-bioinformatics/blob/main/notebooks/Bioinformatics_Module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("hello world")

hello world

In [2]:
variable_name = value

NameError: name 'value' is not defined

In [3]:
x = 5

In [4]:
greeting = "hello"

In [5]:
pi = 3.14

In [6]:
# Integer
my_integer = 10
print(my_integer)

# String
my_string = "Hello, Colab!"
print(my_string)

# Float
my_float = 3.14
print(my_float)

10
Hello, Colab!
3.14

In [7]:
a = 10 + 5

In [8]:
b = 20 - 7

In [9]:
c = 4 * 3

In [10]:
d = 16 / 4

In [11]:
e = 17 % 5

In [12]:
f = 2 ** 4

In [13]:
print(3 == 3)

True

In [14]:
print(5 != 2)

True

In [15]:
print(4 < 10)

True

In [16]:
print(8 > 12)

False

In [17]:
print(7 >= 7)

True

In [18]:
print(6 <= 3)

False

In [19]:
# Given two numbers a and b, calculate the square of the hypotenuse

In [20]:
name = input("What is your name? ")
print("Hello " + name + "!")

What is your name? Honesty
Hello Honesty!

In [21]:
my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])

World

In [22]:
my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[2])

Charles Darwin

In [23]:
# Substitue the item at index 2 in the list
my_list[2] = "Alfred R. Wallace"
print(my_list)

['Hello', 'World', 'Alfred R. Wallace']

In [24]:
# Append an item to the end of the list
my_list.append("Charles Darwin")
print(my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

In [25]:
print (my_list[2:4])

['Alfred R. Wallace', 'Charles Darwin']

In [26]:
my_string = "HelloWorldCharlesDarwinAlfred R. Wallace"
print (my_string[0:5],my_string[5:10])

Hello World

In [27]:
print (my_string[33:],my_string[5:10])

Wallace World

In [28]:
a = 967
b = 843
c_squared = a**2 + b**2
print(c_squared)

1645738

In [30]:
# Given two numbers a = 967 and b = 843 calculate the square of the hypotenuse
a = 967
b = 843
c_squared = a**2 + b**2
print(c_squared)

1645738

In [31]:
jI55OBombus8PfeHH7uxtzicOUH3sPUJteSjXWRtHW0FlvionjzhLEMKbxgKThgc6j1v6gyhgUEwP99Yqf6mCrn0sYGdkIhUALMbERt13QMTSbs8oyp6RVPdOsmgvWyA2i8F0OcXAZbbGugl7ftm69w4MqYaOa1bkJyLkndFowJhpYLdE5jKPp3EaMs6.

SyntaxError: invalid syntax (ipython-input-3482191860.py, line 1)

In [32]:
# Define the input string
s = "jI55OBombus8PfeHH7uxtzicOUH3sPUJteSjXWRtHW0FlvionjzhLEMKbxgKThgc6j1v6gyhgUEwP99Yqf6mCrn0sYGdkIhUALMbERt13QMTSbs8oyp6RVPdOsmgvWyA2i8F0OcXAZbbGugl7ftm69w4MqYaOa1bkJyLkndFowJhpYLdE5jKPp3EaMs6."

# Define the slice indices
a = 5
b = 10
c = 46
d = 48

# Slice the string (remember to add 1 to the end index to include it)
part1 = s[a:b+1]
part2 = s[c:d+1]

# Print the result with a space in between
print(part1 + " " + part2)

Bombus ion

In [33]:
s[a to b] + " " + s[c to d]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-3109120640.py, line 1)

In [34]:
s = "jI55OBombus8PfeHH7uxtzicOUH3sPUJteSjXWRtHW0FlvionjzhLEMKbxgKThgc6j1v6gyhgUEwP99Yqf6mCrn0sYGdkIhUALMbERt13QMTSbs8oyp6RVPdOsmgvWyA2i8F0OcXAZbbGugl7ftm69w4MqYaOa1bkJyLkndFowJhpYLdE5jKPp3EaMs6."

a = 5
b = 10
c = 46
d = 48

# Include the end index by using +1
part1 = s[a:b+1]
part2 = s[c:d+1]

print(part1 + " " + part2)

Bombus ion